.content {
    background-color: azure;
    width: 100%;
    /*margin: 3%;*/
    padding: 20px;
    position: center;

}

.header {
    width: 100%;
    background-image: url('https://ocs-pl.oktawave.com/v1/AUTH_2887234e-384a-4873-8bc5-405211db13a2/spidersweb/2016/12/pyszne-pl.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 50px 100px;
}

.header-text {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    width: fit-content;
}

.background {
    background-color: thistle;
    width: 100%;
    padding: 20px;
    padding-bottom: 300px;
}
