<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książka kucharska</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: categories"></div>
<div class="background">
    <div th:replace="fragments :: buttons"></div>

    <div style="padding-right: 20%; padding-left: 20%">
        <h2>Dodaj przepis</h2>
        <form method="post" th:action="@{/recipe/save}" th:object="${recipe}">
            <input type="number" hidden th:field="*{id}"/>

            <div class="form-group row">
                <label for="recipeName" class="col-sm-4 col-form-label">Nazwa przepisu</label>
                <div class="col-sm-7">
                    <input type="text" th:field="*{name}" class="form-control" id="recipeName"
                           placeholder="nazwa przepisu">
                </div>
            </div>
            </br>
            <div class="form-group row">
                <label for="description" class="col-sm-4 col-form-label">Opis</label>
                <div class="col-sm-7">
                <textarea rows="5" th:field="*{description}" class="form-control" id="description"
                          placeholder="wykonanie przepisu"></textarea><br/>
                </div>
            </div>
            </br>
            <div class="form-group row">
                <label for="photo" class="col-sm-4 col-form-label">Dodaj zdjęcie:</label>
                <div class="col-sm-7">
                    <input type="text" th:field="*{url}" class="form-control" id="photo"
                           placeholder="dodaj url zdjęcia"/><br/>
                </div>
            </div>
            </br>
            <div class="form-group row">
                <label for="category" class="form-group col-md-4"> Wybierz kategorię:</label>
                <div class="col-sm-7">
                    <select th:field="*{category}" class="form-control" id="category" placeholder="wybierz kategorię">
                        <option th:each="category: ${categories}"
                                th:text="${category.name}"
                                th:value="${category.id}">
                        </option>
                    </select>
                </div>
            </div>
            </br>
            <div class="form-group row">
                <label for="ingredients" class="form-group col-md-4"> Podaj składniki:</label>
                <div class="col-sm-7" id="ingredients">
                    <table class="table">
                        <tbody>
                        <tr style="width:100%" scope="row" th:each="ingredient, itemStat : *{ingredients}">
                            <td><input hidden th:field="*{ingredients[__${itemStat.index}__].id}"/></td>
                            <td><input th:field="*{ingredients[__${itemStat.index}__].name}"
                                       placeholder=" nazwa skłdnika"/>
                            </td>
                            <td><input th:field="*{ingredients[__${itemStat.index}__].amount}" placeholder="ilość"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row" style="background-color: gray">
                <label for="submit" class="col-sm-4 col-form-label">Zapisz</label>
                <div class="col-sm-7">
                    <button type="submit" class="btn btn-primary" id="submit" value="Dodaj przepis"
                            th:placeholder="Dodaj"></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>