<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książka kucharska</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: categories"></div>
<div class="background">
    <div th:replace="fragments :: buttons"></div>


    <div class="row">
        <div class=" col-md-3" style="margin: 5px">
            <img th:src="${categoryDto.url}" style="width: 300px; max-height: 700px" alt="zdj">
        </div>
        <div class=" col-md-8" style="margin: 5px">
            <h2 th:text="${categoryDto.name}"></h2>
            <h5 style="text-align: center" th:text="${categoryDto.description}"></h5></br>

            <h4> Lista przepisów: </h4>
            <ul>
                <li th:each="recipe: ${recipeList}">
                    <a th:href="@{'/recipe/' + ${recipe.id}}">
                        <p th:text="${recipe.name}"></p>
                    </a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>