<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Ksiązka kucharska</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<div th:fragment="header">

    <div class="header">
        <div class="header-text">
            <a href="/">
                <h2>Przepisy dla każdego. <br/><small>szybko, łatwo i smacznie</small></h2>
                <img src="https://d-art.ppstatic.pl/kadry/k/r/2b/55/5862637902303_o_medium.jpg"
                     style="width: 400px; max-height: 300px" alt="zdj"/>
            </a>
        </div>
    </div>
</div>

</div>

</body>
</html>