<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książka kucharska</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="content">

    <ul class="nav nav-tabs">
        <li class="col-lg-4"><a href="/recipe/add" class="list-group-item active">Dodaj nowy przepis</a></li>
        <li class="col-lg-4"><a href="/allRecipies" class="list-group-item active">Wszystkie przepisy</a></li>
        <li class="col-lg-4"><a href="#" class="list-group-item active">Kategorie</a></li>
    </ul>

    <h2 style="text-align: center">Wybrane przepisy</h2>


    <div class="row">
        <a th:href="@{'/recipe/' + ${recipe.id}}" th:each="recipe: ${recipies}">
            <div class=" col-md-6" style="margin: 5px">
                <h5 th:text="${recipe.name}"></h5>
                <img th:src="${recipe.url}" style="width: 400px; max-height: 300px" alt="zdj">
            </div>
        </a>
    </div>
</div>

</body>
</html>