<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książka kucharska</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="content">

    <ul class="nav nav-tabs">
        <li class="col-lg-4"><a href="/recipe/add" class="list-group-item active">Dodaj nowy przepis</a></li>
        <li class="col-lg-4"><a href="/allRecipies" class="list-group-item active">Wszystkie przepisy</a></li>
        <li class="col-lg-4"><a href="#" class="list-group-item active">Najciekawsze przepisy</a></li>
    </ul>


    <ul class="nav nav-tabs">
        <li class="col-lg-2"><h4>Kategorie: </h4></li>
        <li class="col-lg-2"><a href="/?category_Id=1"><h4>Sniadania</h4></a></li>
        <li class="col-lg-2"><a href="/?category_Id=2"><h4>Zupy</h4></a></li>
        <li class="col-lg-2"><a href="/?category_Id=3"><h4>Obiady</h4></a></li>
        <li class="col-lg-2"><a href="/?category_Id=4"><h4>Przekąski</h4></a></li>
        <li class="col-lg-2"><a href="/?category_Id=5"><h4>Desery</h4></a></li>
    </ul>


    <div class="row">
        <a th:href="@{'/recipe/' + ${recipe.id}}" th:each="recipe: ${recipies}">
            <div class=" col-md-6" style="margin: 5px">
                <h5 th:text="${recipe.name}"></h5>
                <img th:src="${recipe.url}" style="width: 400px; height: 300px" alt="zdj">
            </div>
        </a>
    </div>

</body>
</html>