<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książka kucharska</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>

<div th:replace="fragments :: header"></div>

<body>

<div class="background">

    <ul class="nav nav-tabs">
        <li class="col-lg-2"><a href="/recipe/add" class="list-group-item active">Dodaj nowy przepis</a></li>
        <li class="col-lg-2"><a href="/allRecipies" class="list-group-item active">Wszystkie przepisy</a></li>
        <li class="col-lg-2"><a href="#" class="list-group-item active">Kategorie</a></li>
        <li class="col-lg-2"><a th:href="|/recipe/delete/ + ${recipe.id}|" class="list-group-item active">Usuń
            przepis</a>
        </li>
        <li class="col-lg-2"><a href="/" class="list-group-item active">Wróć na stronę główną</a></li>
    </ul>

    <h2 style="text-align: center" th:text="${recipe.name}"></h2>


    <div class="row">
        <div class=" col-md-3" style="margin: 5px">
            <img th:src="${recipe.url}" style="width: 400px; max-height: 300px" alt="zdj"></div>
        <div class=" col-md-7" style="margin: 5px">

            <h3> Składniki: </h3>
            <ul>
                <li th:each="ingredient: ${ingredients}"
                    th:text="|${ingredient.name} ${ingredient.amount}|">
                </li>
            </ul>
            </br>

            <h3> Wykonanie: </h3>
            <p th:text="${recipe.description}"></p>
        </div>
    </div>
</div>

</body>
</html>